---
title: About Me
date: 2015-11-17 01:00:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="row margin-bottom-30">
	<!-- BEGIN INFO BLOCK -->               
	<div class="col-md-7">
	  <h2 class="no-top-space">Developer in ThoughtWorks</h2>
	  <p>Luke Du has been worked in IT area for more than 3 years, including experience of 2 year software development and over one year automation operation and maintenance.</p> 
	  <p>He is good at Java and Python development, also can do some frontend work such like react. He has strong skills in DevOps area, include CICD, Agile practices, micro service, version control, infrastructure management, container orchestration, high available, and automation Testing. He is good at fast learning and have strong communication skills . Now Luke Du has been working as a full-time software developer in ThoughtWorks oversea project for more than 2 years.</p>
	  <!-- BEGIN LISTS -->
	  <div class="row front-lists-v1">
	    <div class="col-md-6">
	      <ul class="list-unstyled margin-bottom-20">
		<li><i class="fa fa-check"></i> Cloud </li>
		<li><i class="fa fa-check"></i> Containerize </li>
		<li><i class="fa fa-check"></i> Serverless </li>
	      </ul>
	    </div>
	    <div class="col-md-6">
	      <ul class="list-unstyled">
		<li><i class="fa fa-check"></i> Agile </li>
		<li><i class="fa fa-check"></i> DevOps </li>
		<li><i class="fa fa-check"></i> CI/CD </li>
	      </ul>
	    </div>
	  </div>
	  <!-- END LISTS -->
	</div>

	<!-- My photo -->
	<div class="col-md-5 front-carousel">
			<img width="200px" height="268px" style="margin-left: 70px;" class="my-photo" src="../metronic/assets/pages/img/people/me.png" />
	</div>

	<!-- My photo end -->

	<!-- END INFO BLOCK -->   
</div>

      <div class="row margin-bottom-40">
	<!-- BEGIN TESTIMONIALS -->
	<div class="col-md-7 testimonials-v1">
	  <h2>Books Testimonials</h2>                
	  <div id="myCarousel1" class="carousel slide">
	    <!-- Carousel items -->
	    <div class="carousel-inner">
	      <div class="active item">
		<blockquote><p>“For many organizations Continuous Delivery isn’t just a deployment methodology, it’s critical to doing business. This book shows you how to make Continuous Delivery an effective reality in your environment.”</p></blockquote>
		<div class="carousel-info">
		  <img src='../metronic/assets/pages/img/books/continuous_devlivery.jpg'>
		  <div class="pull-left">
		    <span class="testimonials-name">Continuous Delivery</span>
		    <span class="testimonials-post">David Farley & Jez Humble</span>
		  </div>
		</div>
	      </div>
	    </div>
	    <!-- Carousel nav -->
	    <a class="left-btn" href="#myCarousel1" data-slide="prev"></a>
	    <a class="right-btn" href="#myCarousel1" data-slide="next"></a>
	  </div>
	</div>
	<!-- END TESTIMONIALS --> 

	<!-- BEGIN PROGRESS BAR -->
	<div class="col-md-5 front-skills">
			<h2 class="block">Language Skills</h2>
			<span>Java 80%</span>
			<div class="progress">
				<div role="progressbar" class="progress-bar" style="width: 80%;"></div>
			</div>
			<span>JavaScirpt 60%</span>
			<div class="progress">
				<div role="progressbar" class="progress-bar" style="width: 60%;"></div>
			</div>
			<span>Python 70%</span>
			<div class="progress">
				<div role="progressbar" class="progress-bar" style="width: 70%;"></div>
			</div>
		</div>                       
		<!-- END PROGRESS BAR -->


      </div>
    </div>
  </div>
  <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
